.theme-background {
  background: linear-gradient(90.6deg, #FF6A00 0.42%, #EE0979 99.69%);
}
.theme-border {
  border: 2.5px solid #FB5C00;
}
.theme-text {
  color: #FB5C00;
}
.active-nav {
  border-left-width: 4px;
  border-color: #FB5C00;
}
.active-nav-sm {
  border-bottom-width: 4px;
  border-color: #FB5C00;
}
.card-star-rating {
  .star-ratings {
    display: flex !important;

    .star-container {
        padding: 0 !important;
        svg {
            width: 15px !important;
            height: 15px !important;
        }
    }
  }
}
.carousel-star-rating {
  .star-ratings {
    display: flex !important;

    .star-container {
        padding: 0 !important;
        svg {
            width: 25px !important;
            height: 20px !important;
        }
    }
  }
}

.loader {
  border-top-color: #FB5C00;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}